<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--    {% load static %}-->
<!--    <script src="{% static 'script/schedule.js' %}"></script>-->
<div class="jumbotron text-center">
  <h1 class="display-3 text-danger">Something went wrong!/出错了</h1>
    <p class="lead">Something went wrong with your appointment</p>
    <h2>This could happen when:/错误可能来自于以下原因</h2>
        <li>{{ message }}</li>
    <a href="/">Please try another slot/请重新尝试</a>
  <hr>
  <p>
    Having trouble? <a href="tel:+17188863288">Call us</a> or <a href="mailto:alldaypharmacyinc@gmail.com">Email us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Return to homepage/返回主页</a>
  </p>
</div>
