<body id="page-top">
{% include "header.html" %}

    <section id="notice_cn" style="padding:80px 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>预约须知</h2>
                    <ul>
                        <li>由于目前药厂生产数量有限，需要施打新冠肺炎疫苗的客人，必须提前至少一天预约，来药房时请配戴口罩及面罩。</li>
                        <li>线上预约完毕时，请立即拨打我们的电话确认预约并提供更多个人资料，以便工作人员可以节省时间处理作业。</li>
                        <li>如果因为诸多原因，導致我们无法订到疫苗而无法当天施打，仁济西药房保留当天取消预约的权利，敬请见谅。</li>
                    </ul>
                    <a class="btn btn-info" href="/schedule" type="button">预约</a>
                </div>
            </div>
        </div>

    </section>

    <section id="notice_en" class="bg-light" style="padding:80px 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Notice</h2>
                    <ul>
                        <li>
                            Thank you for your interest with getting your COVID-19 Vaccine at Allday Pharmacy Inc.
                            Due to limited distribution from the state government, we can only offer vaccines to
                            patients on a first come first serve, selected target population basis. To ensure we
                            maintain proper COVID-19 protections, personal protective equipment is required to be
                            worn at all time, and all patients are required to make an appointment prior to vaccine
                            administration. We do not accept same-day appointment due to limited logistic reasons.
                        </li>
                        <li>
                            After you complete your reservation, please do call us to confirm your appointment,
                            and to provide us with further personal information.
                        </li>
                        <li>
                            Disclaimer: Allday Pharmacy Inc reserves the rights to cancel reservations without notices
                            if patient is not eligible or if we can not provide the vaccines due to logistic or
                            other unforeseeable reasons. We apologize in advance for the inconvenience.
                        </li>
                    </ul>
                  <a class="btn btn-info" href="/schedule" type="button">Make an appointment</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" style="padding:80px 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>联系方式</h2>
                    <p><strong>地址: </strong>41-99 Main St, Suite #202A, NY, 11355</p>
                    <p><strong>电话: </strong>(718) 886-3288</p>
                    <hr>
                    <h2>营业时间: </h2>
                    <p><strong>周一: </strong>08:30 – 17:00</p>
                    <p><strong>周二: </strong>08:30 – 17:00</p>
                    <p><strong>周三: </strong>08:30 – 17:00</p>
                    <p><strong>周四: </strong>08:30 – 17:00</p>
                    <p><strong>周五: </strong>08:30 – 17:00</p>
                    <p><strong>周六: </strong>08:30 – 17:00</p>
                    <p><strong>周日: </strong>休息</p>
                </div>
            </div>
        </div>
    </section>
{% include 'footer.html' %}


</body>

</html>
