{% include "header.html" %}
{% load waitlist_tag %}
<body>
    <title>Schedule an appointment</title>

    <section style="padding:80px 0">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <form action="/schedule/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="schedule_date">Choose a date:</label>
                        {% if request.session.schedule_date %}
                            <input required type="date" class="form-control" id="schedule_date" name="schedule_date"
                            value="{{ request.session.schedule_date }}">
                        {% else %}
                            <input required type="date" class="form-control" id="schedule_date" name="schedule_date">
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Check Availability/确认可预约时间段</button>
                </form>
                {% if available %}
                {% if request.session.schedule_date %}
                    <h4>Available appointments for {{ request.session.schedule_date }}</h4>
                    <form action="/schedule/" method="post">
                        {% csrf_token %}

                        {% for time in time_slots %}
                            <div class="form-check form-check-inline">
                                {% if time in available %}
                                    <input required class="form-check-input" type="radio" name="schedule_time" id="schedule_time" value="{{ time }}">
                                {% else %}
                                    <input class="form-check-input" type="radio" name="schedule_time" id="schedule_time" value="{{ time }}" disabled>
                                {% endif %}
                                <label class="form-check-label" for="schedule_time">{{ time }}</label>

                            </div>
                        {% endfor %}
                        {% get_waitlist_count request.session.schedule_date as headcount %}
                            <div class="form-check form-check-inline">
                                {% if headcount < 3 %}
                                    <input class="form-check-input" type="radio" name="schedule_time" id="schedule_time" value="waitlist">
                                    <label class="form-check-label" for="schedule_time">Waitlist: {{ headcount }}/3</label>
                                {% else %}
                                    <input class="form-check-input" type="radio" name="schedule_time" id="schedule_time" value="waitlist">
                                    <label class="form-check-label" for="schedule_time">Waitlist: {{ headcount }}/3</label>
                                {% endif %}
                            </div>
                        <hr>
                        <button type="submit" class="btn btn-info">Schedule an appointment/预约</button>
                    </form>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </section>
    <script>
        //var today = new Date().toISOString().split('T')[0];
        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1)
        document.getElementsByName("schedule_date")[0].setAttribute('min', tomorrow.toISOString().split('T')[0]);
    </script>
{% include "footer.html" %}
</body>