<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--    {% load static %}-->
<!--    <script src="{% static 'script/schedule.js' %}"></script>-->
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
    <p class="lead">You will receive an email about your appointment</p>
    <p class="lead">Please <strong>call our office</strong> if you want to make any changes to your appointment</p>
  <hr>
  <p>
    Having trouble? <a href="tel:+17188863288">Call us</a> or <a href="mailto:alldaypharmacyinc@gmail.com">Email us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Return to homepage</a>
  </p>
</div>
