{% include "header.html" %}
{% load waitlist_tag %}
<section style="padding:80px 0">
<div class="container">
    <div class="col-lg-8 mx-auto">
        <br />
        <h5>Thank you for supporting Allday Pharmacy</h5>
            <h5>You choose to join waitlist</h5>
                <p>We have waitlist in case of cancellation or changes.
                    Once you are in the list we will contact you 1 day ahead once we have available time slots
                    for you but please keep in mind that we
                    <strong>DO NOT</strong> guarantee you get the shot that day.</p>
                <p>Please keep in mind that if we do not contact you until your waitlist day, you have to
                make another appointment or choose another waitlist date</p>
                <h5>感谢您支持仁济西药房</h5>
                <p>我们每天都会有3个等待名单的名额以防当天预约的取消或者变动，当你加入等待名单后，
                    我们会提前一天电话联系您并告知您第二天的安排，但是我们<strong>不能保证</strong>您第二天一定能预约上</p>
                <p>请注意，如果我们在您等候名单的当天还没有联系您，请您重新预约或加入名单</p>
        <form method="post">
            {% csrf_token %}
            <small class="form-text text-muted">We'll never share your info with anyone else.</small>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input required type="text" class="form-control" id="first_name" name="first_name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name: </label>
                <input type="text" class="form-control" id="last_name" name="last_name">
            </div>
            <div class="form-group">
                <label for="birthday">Date of birth/生日: </label>
                <input required type="date" class="form-control" id="birthday" name="birthday">
            </div>
            <div class="form-group">
                <label for="phone">Phone/电话: </label>
                <input required type="text" class="form-control" id="phone" name="phone">
            </div>
            <small class="form-text text-muted">Email is optional</small>
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="birthday">Preferred date/首选日期: </label>
                <input required type="date" class="form-control" id="preferred_date" name="preferred_date">
            </div>
                <button type="submit" class="btn btn-info">I understand the policy and let me in the waitlist/
                    我已阅读注意事项，加入等待名单</button>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
    <script>
        var birth = new Date(2002, 0, 0);
        document.getElementsByName("birthday")[0].setAttribute('max', birth.toISOString().split('T')[0]);
        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1)
        document.getElementsByName("preferred_date")[0].setAttribute('min', tomorrow.toISOString().split('T')[0]);
    </script>
</div>
</section>
{% include "footer.html" %}