{% include "header.html" %}
{% load waitlist_tag %}
<section style="padding:80px 0">
<div class="container">
    <div class="col-lg-8 mx-auto">
        <h2>Waitlist register/等候名单注册</h2>
        <br />
        <h5>Thank you for supporting Allday Pharmacy</h5>
            <p>Thank you for choosing Allday Pharmacy for your COVID-19 Vaccine administration. Due to limited time
                and resources, we will be serving all patients to the best of our abilities. </p>
            <p>If you are unable to choose the date and time you want, then you have the option to enroll in our waitlist below.</p>
            <p>Please leave your name and phone number. We will call right away once there is a space open up as soon as
                possible whether on the day before or the same day.  </p>
            <h5>感谢您支持仁济西药房</h5>
            <p>感谢您选择在仁济西药房让我们为您施打疫苗接种，由于目前时间限制，我们会在有限的能力下尽力服务所有贵宾。</p>
            <p>如果您所选择的日期时间无法预约，您可以于此页面下方留下您的名字电话以及方便的时间。若当天有空缺的预约时段，
                我们会尽力提早一天或当天立即通知。</p>
        <form method="post">
            {% csrf_token %}
            <small class="form-text text-muted">We'll never share your info with anyone else.</small>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input required type="text" pattern="[a-zA-Z]+"class="form-control" id="first_name" name="first_name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name: </label>
                <input required type="text" pattern="[a-zA-Z]+" class="form-control" id="last_name" name="last_name">
            </div>
            <div class="form-group">
                <label for="birthday">Date of birth/生日: </label>
                <input required type="date" class="form-control" id="birthday" name="birthday">
            </div>
            <div class="form-group">
                <label for="phone">Phone/电话: </label>
                <small class="form-text text-muted">Please follow the format as 123-456-7890</small>
                <small class="form-text text-muted">请按照格式123-456-7890填写</small>
                <input required type="tel" class="form-control" id="phone" name="phone" maxlength="14"
                       placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            </div>
            <small class="form-text text-muted">Email is optional</small>
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="birthday">Preferred date/首选日期: </label>
                <input required type="date" class="form-control" id="preferred_date" name="preferred_date">
            </div>
                <button type="submit" class="btn btn-info">I understand the policy and let me in the waitlist/
                    我已阅读注意事项，加入等待名单</button>
        </form>

    </div>
    <script>
        var birth = new Date(2002, 0, 0);
        document.getElementsByName("birthday")[0].setAttribute('max', birth.toISOString().split('T')[0]);
        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1)
        document.getElementsByName("preferred_date")[0].setAttribute('min', tomorrow.toISOString().split('T')[0]);
    </script>
</div>
</section>
{% include "footer.html" %}